<section class="debug hero">
    <div class="hero-text debug" style="padding: 10%;">
        <p class="first-hero-text">Top Software <span style="color: #a32727;">Developement Company</span></p>
        <p class="hero-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sapiente odio natus
            repudiandae possimus
            exercitationem provident. Perferendis quis itaque voluptatibus.</p>
    </div>
    <div class=" debug">
        <img src="https://cdn.pixabay.com/photo/2014/08/14/10/38/software-417880_1280.jpg" alt="" class="hero-img">
    </div>
</section>